<p>
	<strong>Oil Pressure</strong>
	<input type="text" value="0" socket_name="oil_pressure" /> PSI
</p>	

<p>
	<strong>Tire Pressure (in PSI)</strong>
	<input type="text" value="0" socket_name="tire_pressure" /> PSI
</p>

<p>
	<strong>Washer Fluid Level</strong>
	<input type="text" value="0" socket_name="washer_fluid_level" /> 
</p>