<p>
	<strong>Oil Pressure</strong>
	<input type="text" value="0" socket_name="oil_pressure" /> PSI
</p>	

<p>
	<strong>Tire Pressure (in PSI)</strong>
	<input type="text" value="0" socket_name="tire_pressure" /> PSI
</p>

<p>
	<strong>Washer Fluid Level</strong>
	<input type="text" value="0" socket_name="washer_fluid_level" /> 
</p>
<hr />
<p>
	<strong>Quick Configuration: </strong>
	<select id="quick_config_select">
		<option value="">Select a Quick Config</option>
		<option value="low">Low</option>
		<option value="medium">Medium</option>
		<option value="high">High</option>
	</select>
</p>	
