<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" />
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/socket_application.js"></script>
</head>	
  <body>
    <h1><%= title %></h1>
		<%- body %>
  </body>
</html>